.App {
  text-align: center;
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  background-color: #000000;
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.App-gallery-section {
  background-color: #000000;
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.App-Notice-section {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.App-mobile-gallery-section {
  background-color: #000000;
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.App-video-section {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.App-video-section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.App-mobile-video-section {
  background-color: #000000;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.App-video-section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.App-foot-section {
  background-color: #000000;
  min-height: 15vh;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  cursor: pointer;
}

.ODBYODD-BODY-OD {
  height: 180px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: calc(7px + 1vmin);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #fff;
}

.-ODBYODD-BODY- {
  height: 360px;
  font-family: Pretendard;
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #fff;
}

.-ODBYODD-BODY-VIDEO- {
  font-family: Pretendard;
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #fff;
}

.outer {
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

.mobile-outer {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
.video {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 1;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.Frame-44 {
  width: 100%;
  min-height: 90vh;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  align-items: center;
  text-align: center;

  /* backdrop-filter: blur(10px); */
  background-color: rgba(0, 0, 0, 0.1);
}

.mobileViedo {
  position: absolute;
  text-align: -webkit-center;
  width: 100%;
  top: 50%;
  left: auto;
  transform: translate(-50%, -50%);
}

.textMode {
  position: absolute;
  text-align: -webkit-center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ticket_img {
  filter: brightness(1);
  filter: hue-rotate(180deg);
}
.ticket_img:hover {
  filter: hue-rotate(180deg);
  /* #bird-03 { filter: invert(100%); } */
  /* filter: brightness(0.9); */
}

.ODBY-ODD-BODY-ODBY-Open-Sea-Ticket---ODBY-NFT--- {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  letter-spacing: 6px;
  font-weight: 700;
}

.fly {
  position: fixed;
  right: 2%;
  top: 2%;
  z-index: 1;
}

.linkfly {
  position: fixed;
  left: 2%;
  top: 2%;
  z-index: 1;
}

.no_fly {
  position: absolute;
  right: 2%;
  top: 2%;
}

.App-notice {
  background-color: rgb(32, 59, 59);
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  color: white;
  display: flex;
}

.App-qna {
  background-color: rgb(32, 59, 59);
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  color: white;
  display: flex;
  text-align: center;
}

.App-announcement {
  background-color: rgb(32, 59, 59);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  color: white;
  display: flex;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
